<footer class="bg-dark text-white text-center py-2 mt-auto">
    <p class="mb-1">&copy; 2025 EbookStall. All rights reserved.</p>
    <div>
        <a href="https://www.instagram.com" target="_blank" class="text-white mx-2">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com" target="_blank" class="text-white mx-2">
            <i class="fab fa-facebook"></i>
        </a>
    </div>
</footer>
